@use "./../helper/vairables" as var;
@use "./../helper/mixins" as mixin;

.character {
  width: 100%;
  background-color: var.$primary-dark;

  .container {
    background-color: var.$primary-dark;
  }

}